// Tipografia

$fuente_principal: 'Montserrat', sans-serif;


// Colores 

$crema: #E5E5CB;
$rosa: #F53756;
$marronclaro: #8d4925;
$morado: #752F97;
$negro: #000000;
$marron: #3C2A21;
$marronoscuro: #1A120B;



// Tamanos de Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1281px;